{% extends 'base.html' %}
{% load static %}

{% block content %}

        

<div class="container-fluid">
    <div class="my-grid d-flex flex-column mt-4">
        <h3 class="my-grid-item mx-auto my-1 p-1">Password change</h>
    </div>
	<div class="row justify-content-center">
        <form class="form-signin" method="post" id="id_password_change_form">{% csrf_token %}  
            <input name="old_password"  class="form-control" placeholder="old password" type="password" id="old_password" required>
            <input name="new_password1" class="form-control" placeholder="New password" type="password" id="new_password1" required>
            <input name="new_password2" class="form-control" placeholder="Confirm new password" type="password" id="new_password2" required>
            <br>
            {% for field in form %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            {% endfor %}
            <button id="id_submit_btn" class="btn btn-sm btn-primary btn-block" type="submit">Update</button>  
        </form>
    </div>
</div>



{% endblock content %}